* {
    box-sizing: border-box;
}
body {
  background: url(img/books-321-568.jpg);
/*  background-repeat: repeat-y; */
  background-size: auto;
/*  background-position: top center;*/
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  border-top: solid;
  border-bottom: solid;
  background-color: #ffccb3;
  color: black;
  padding: 10px;
  text-align: center;
}

.allBtns {
  border: solid;
  border-width: thin;
  border-radius: 10px;
  background-color: #80bfff;
  color: black;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: .8em;
  width: 100%;
}

.allBtns:hover {
  border-radius: 10px;
  border: solid;
  border-width: thin;
  background-color: #0059b3;
  color: #ffffff;
}

.btnBoxsInner {
  padding: 3px;
  margin-top: 2px;
  border-radius: 10px;
}

.backInputBtnBox {
  width: 100%;
}

.aside, .allBtnBoxs, .inputBox {
  border-top: solid;
  border-bottom: solid;
  border-width: thin;
  background-color: #ffccb3;
  padding-top: 4px;
  padding-bottom: 4px;
  color: black;
  text-align: center;
  font-size: 1em;
}

.details, .dataBlock {
  background-color: #b3d9ff;
}

.inputBox {
  margin-top: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.displayText, .inputText {
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: bold;
}

.dataBlock {
  border-top: solid;
  border-bottom: solid;
  padding: 3px;
  background-color: #ffccb3;
  color: black;
}

.dataRow, .dataHeading {
  padding-left: 2px;
  padding-right: 2px;
  text-align: left;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
  font-weight: bold;
}

.dataRow {
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: .8em;  
  background-color: #80bfff;
}

.dataHeading {
  background-color: #ffccb3;
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: solid;
  border-bottom: solid;
  font-size: .9em;
}

.instructBox {
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 4px;
  border-top: solid;
  border-bottom: solid;
  background-color: #ffccb3;
  color: black;
  text-align: center;
  font-size: .9em;
}

/**********************/
/* Data window config */
.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  float: left;
}

.sticky + .content{
  padding-top: 102px;
}


/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
/*
.smallButtonSize {
  width: 50%;
}
*/
.hideAtStart {
  display: none;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}


}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  body {
    background: url(img/library-1752515_1920_result.jpg);
    background-size: auto;
    background-repeat: no-repeat repeat-y;
  /*  background-size: cover;*/
    background-position: center top; 
  }

  .hideAtStart {
    display: none;
  }

  .lineTwo {
    height: 48px;
  }

  .details {
    height: 47px;
    padding: 0px;  
  }

  .dataBlock {
    min-height: 274px;
  }

  .dataHeading, .dataRow {
    text-align: center;    
  }

  .header h2 {
    font-size: 2em;
  }

  .allBtns {
    font-size: 1.4em;
  }

  .groupOneShow, .btnBoxsInner {
    min-height: 45px;    
  }

  .showOne {
/*    display: block;*/
    min-height: 50px;
  }

  .displayThree {
/*    display: block;*/
    min-height: 50px;
  }

  .instructBox  {
    font-size: 1em;
  }
}